################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LearningGit.slnx/FileContentIndex
/.vs/slnx.sqlite
/.vs/LearningGit.slnx/v18
/.vs
/api2/.vs/api2.slnx
