################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LearningGit.slnx/FileContentIndex
/.vs/slnx.sqlite
/.vs/LearningGit.slnx/v18
/.vs
/api2/.vs/api2.slnx
/api2/api2/obj/Release/net8.0
/api2/.vs/ProjectEvaluation
/api2/api2/obj/Release/net8.0
/api2/.vs/ProjectEvaluation
/api2/api2/obj/Debug/net8.0/api2.AssemblyInfo.cs
/api2/api2/obj/Debug/net8.0/api2.AssemblyInfoI
/api2/api2/obj/Debug/net8.0/api2.AssemblyInfo.cs
/api2/api2/obj/Debug/net8.0/api2.AssemblyInfoInputs.cache
/api2/api2/obj/Debug/net8.0/api2.AssemblyInfoInputs.cache
/api2/api2/obj/Debug/net8.0/api2.AssemblyInfo.cs
/api2/api2/obj/Release/net8.0
/api2/.vs/ProjectEvaluation